@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-accent: rgba(85, 255, 255, 1);
    --color-accent-dark: rgba(0, 170, 170, 1);
    --color-accent-secondary: rgb(254, 255, 85, 1);
    --color-primary: rgba(0, 0, 170, 1);
    --color-dark: #000;
    --color-white: #fff;
    --color-gray: rgba(170, 170, 170, 1);
}

.first-letter-color::first-letter {
    @apply text-accent-secondary-color
}

